<header>
    <div class="splash">
        <h1 class="jumbotron-heading">Libereader</h1>
        <p class="lead text-muted">online book store</p>
    </div>
</header>
{{!-- search form --}}
<div class="container">
    <div class="col-auto searchBar">
        <form action="/search" method="post" id="searchForm">
            <div class="input-group">
                <label class="sr-only" for="searchBookTitle">search for a book</label>
                <input type="text" class="form-control" name="bookTitle" id="searchBookTitle"
                    placeholder="search for book titles">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">search</button>
                </span>
            </div>
        </form>
    </div>

    {{!-- search results handlebars --}}
    <div class="row">
        <div class="col-auto">
            <div class="list-group">
                {{#each categories}}
                <a href="/Category/{{this}}" class="list-group-item">{{this}}</a>
                {{/each}}
            </div>
        </div>

        <div class="col-auto">
            <div class="row">
                {{#each result}}
                <div class="col-auto portfolio-item">
                    <div class="card h-100">
                        <a href="/search/isbn/{{isbn}}">
                            <img class="card-img-top" src={{imageURL.thumbnail}} alt="{{title}}">
                        </a>
                        <div class="card-body">
                            <p class="h3 card-title">
                                <a href="/search/isbn/{{isbn}}">{{title}}</a>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div id="accordion" data-children=".item">
                                <div class="item">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{_uuid}}" aria-expanded="true" aria-controls="{{_uuid}}">description snippet</a>
                                    <div id="{{_uuid}}" class="collapse">
                                        <p class="mb-3">
                                            {{textSnippet}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>